{% extends 'templateBackend.twig' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>liste des commentaires en attente de validation</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Auteur</th>
                            <th scope="col">Date</th>
                            <th scope="col">Id de l'article</th>
                            <th scope="col">Message</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    
                        <tbody>
                        {% for tab in resultat %}
                            <tr>
                                <td>{{ tab.author }}</td>
                                <td>{{ tab.comment_date_fr }}</td>
                                <td>{{ tab.post_id}}</td>
                                <td>{{ tab.message }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-green" href="/validateComment?id={{ tab.id }}">Publier</a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-pink" href="/deleteComment?id={{ tab.id }}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire?')">Supprimer</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}